.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    background: #ED5353;
    border-radius: 0 0 60px 65px;
    padding: 0px 60px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.header__buttons {
    display: flex;
    gap: 1rem;
}
.header__btn {
 border: none;
 outline: none;
 height: 40px;
 width: 100px;
 border: 2px solid #fff;
 border-radius: 8px;
 background: transparent;
 font-weight: 500;
 font-size: 15px;
 color:#fff;
}
.header__btn:hover {
    scale: 1.05;
}
.header__register {
    color: #ED5353;
    background: #fff;
}