@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'DM Sans';
  line-height: 1.5;
  font-weight: 400;
  

}
